extends page

block main
  .jumbotron
    .container
      h1
        small Welcome to 
        | FreeL
      p A site where students auditing Coursera courses can post their assignments and recieve reviews from other like-minded students.
      p
        a.btn.btn-primary.btn-lg(href='about', role='button') Learn more
  
  .container
    .row
      .col-md-10.col-md-offset-1.col-xs-12
        ul#courses.list-group
          each course, ind in courses
            li.list-group-item            
              h2.list-group-item-heading= course.name
                | 
                span.smaller: a(href=course.url, target="_blank"): span.glyphicon.glyphicon-new-window(aria-hidden='true')
                    
              .table-responsive
                table.table.table-striped.table-bordered.course-weeks
                  thead
                    tr
                      th Week #
                      th Posted Total
                      th Waiting for Review
                      if user
                        th Available for You to Review
                        th Your Submission
                  tbody
                    each weekId, weekInd in course.weeks                  
                      - var week = weeksMap.get(weekId.toString()) || {number: weekInd+1, countAll: 0, countReviewed: 0, availableForReview: 0, postedSubState: 0}
                      tr
                        th= week.number
                        td= week.countAll
                          if user && week.postedSubState === 0
                            | 
                            a.btn.btn-default(href="course/#{course.id}/week#{week.number}/post", type='button') Post yours
                        td= week.countAll - week.countReviewed
                        if user
                          td= week.availableForReview
                            | 
                            - var disabled = week.postedSubState === 0 || week.availableForReview === 0
                            a.btn.btn-default(href="course/#{course.id}/week#{week.number}/review", type='button', disabled=disabled class=(disabled ? "disabled" : "")) Review
                          td(class=week.postedSubState === 1 ? "info" : week.postedSubState === 2 ? "success" : ""): a(href="course/#{course.id}/week#{week.number}/post")
                            case week.postedSubState
                              when 0
                                span.glyphicon.glyphicon-plus(aria-hidden='true')
                                |  Not Posted
                              when 1
                                span.glyphicon.glyphicon-pencil(aria-hidden='true')
                                |  Edit your Submission
                              when 2
                                span.glyphicon.glyphicon-ok(aria-hidden='true')
                                |  Submission reviewed
                              default
                                | 
                        //- TODO:0 make an overview page with pagination through all submissions
                        //- td: a(href="course/#{course.id}/week#{week.number}/overview") Overview
