extends page

block main
  .jumbotron
    .container
      h1 Hello, world!
      p A site where non-paying students of Coursera can post their assignments and review assignments of others.
      p
        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
  
  .container
    .row
      .col-sm-12.col-xs-12
        ul#courses.list-group
          each course, ind in courses
            li.list-group-item            
              h2.list-group-item-heading= course.name
              
              p.list-group-item-text.table-hover
                a(href="#") Week 1
              
              a(href="#") Week1
              
              p
                .btn-group.btn-group-lg(role='group')
                  a.btn.btn-default(type='button') Week 1   
                  button.btn.btn-default(type='button') Middle  
                  button.btn.btn-default(type='button') Right

              table.table.table-striped
                tbody
                each weekId in course.weeks                  
                  - var week = weeksMap.get(weekId.toString())
                  tr
                    th Week #{week.number}
                    td: a(href="course/#{course.id}/week#{week.number}/post") Post
                      | 
                      span.badge= week.countAll
                    td: a(href="course/#{course.id}/week#{week.number}/review") Waiting for Review
                      | 
                      span.badge= week.countAll - week.countReviewed
                    if user
                      td: a(href="course/#{course.id}/week#{week.number}/review") Available for You to Review
                        | 
                        span.badge= week.availableForReview
                    //- TODO:10 make an overview page with pagination through all submissions
                    //- td: a(href="course/#{course.id}/week#{week.number}/overview") Overview


    .row
      .col-sm-9.col-sm-offset-1.col-xs-12
        //- ul
        //-   each value,key in courses
        //-     li= key +': ' + value
        //-     //- code...
      
