extend assignment


block append assignmentHeader
  if !submission
    //- null and undefined throw on property access, but {} is truthy, so choose false (false.prop === undefined)
    - submission = false
  - var subValid = Boolean(submission)
  
  if subValid && !submission.isReviewed
    .alert.alert-success(role='alert') To share this submission you can use #[a.alert-link(href='review?sub=#{submission._id}') this] link.

block assignmentHeaderRight
  if submission
    h2.review-others-link: small: a(href="review") Review others

block panelHeading
  .panel-heading(data-toggle=submission.isReviewed ? 'collapse' : false, 'data-target'=submission.isReviewed ? '#collapseOne' : false)
    h3.panel-title= title

block panelBody
  include ./mixins/submissionForm.jade
  if submission.isReviewed
    #collapseOne.panel-collapse.collapse
      .panel-body
        +submissionForm
  else
    .panel-body
      +submissionForm
      


  if submission.isReviewed
    .panel-heading(data-toggle="collapse", data-target="#collapseTwo"): h3.panel-title Scroes you have received:
    #collapseTwo.panel-collapse.collapse.in
      //- reviewed tasks with scores
      include ./mixins/taskPanels.jade
      +taskPanels(week.tasks, submission.reviews)
      
      if submission.reviews.some(function(el){return Boolean(el.comment);})
        
        .panel-body.reviewers-comments
          label Reviewers' comments:
          each review, index in submission.reviews
            if review.comment
              .form-group.clearfix
                .circle-number.pull-left= index+1
                .form-control.submission-text= review.comment

block prepend formFooter
  - var editing = subValid
  if submission
    .btn-group.btn-group-lg.pull-left(role='group')
      button#editBtn.btn.btn-primary() Edit
    .alert-parent.pull-left(style='overflow: hidden; visibility: hidden;')
      .alert.alert-warning(role='alert', style='margin-bottom: 0; padding: 10px;')
        strong Warning!
        |  Resubmitting this assignment would mean losing any reviews it may have received.
    
block scripts
  if submission
    script.
      $(document).ready(function() {
        var $formBtns = $('.panel-footer button[form="submissionForm"]');

        var $alertDiv = $('.panel-footer .alert-parent');
        var $alert = $alertDiv.children('.alert');
        $alert.css('width', $alert.outerWidth()+1);
        $alertDiv.hide().css('visibility', 'unset');
        

        
        $('.panel-footer button#editBtn').click(function(){
          
          
          $(this).parent().animate({width: 'toggle'}, function(){
            $(this).remove();
          });

          
          $alertDiv.animate({width: 'toggle'}, function(){
            $alert.css('width', 'auto');
            $formBtns.prop('disabled', false);
            
            $('input, textarea', 'form#submissionForm').prop('readonly', false);
            
            $('#collapseTwo').collapse('hide');
            $('#collapseOne').collapse('show');
          });
        });    
      });
